body {
	background-image: url("bg_s3.png");
	background-size: 100%;
	background-color: #191513;
	background-repeat: no-repeat;
}

#sidebar_3 {
	margin-left: 15px;
}
#sidebar_3:hover {
	background-image: url("s3_hover.png");
	background-repeat: no-repeat;
	z-index: 10;
}

#side {
	position: absolute;
	transform: scale(0.5);
    left: -581px;
    top: -315px;
}

#dany{
	position: absolute;
    left: 756px;
    top: 301px;
    transform: scale(0.5);
}

#robb{
	position: absolute;
    left: 566px;
    top: 120px;
    transform: scale(0.5);
}
#renly{
	position: absolute;
    left: 800px;
    top: 217px;
    transform: scale(0.5);
}

#joffrey{
	position: absolute;
    left: 608px;
    top: 453px;
    transform: scale(0.5);
}

#robert{
	position: absolute;
    left: 450px;
    top: 449px;
    transform: scale(0.5);
}
#stannis{
	position: absolute;
    left: 312px;
    top: 290px;
    transform: scale(0.5);
}

.sideFadeIn{
	animation-name: sideFadeIn;
	-webkit-animation-name: sideFadeIn;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes sideFadeIn {
	0% {
	
		opacity: 0.0;		
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;	
	}		
}